* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: auto;
  overflow-y: auto;
  width: 100%;
  font-family: Arial, sans-serif;
}

main {
  width: 100%;
  min-height: 130vh;
  padding: 1.5rem;
  padding-top: 4em;
}
main .hero-text {
  width: 100%;
}
main .hero-text img {
  width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .hero-text .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 1.7rem 0;
}
main .hero-text .text p {
  font-size: 0.8rem;
}
main .image-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
main .image-text .image {
  width: 100%;
  aspect-ratio: 1/1;
}
main .image-text .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .image-text .text2 {
  display: flex;
  flex-direction: column;
}
main .image-text .text2 h2 {
  margin-top: 2rem;
  font-size: 2.7rem;
  font-weight: 100;
  line-height: 2.7rem;
}
main .image-text .text2 p {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 100;
  opacity: 0.8;
  line-height: 1.7rem;
  margin-bottom: 4rem;
}
main .image-text .services {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  min-height: auto;
  padding: 0.3rem 0;
}
main .image-text .services .service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
main .image-text .services .service p {
  font-size: 1.7rem;
  font-weight: 100;
  margin: 0;
}
main .image-text .services .service h5 {
  font-size: 1.7rem;
  font-weight: 100;
}
main .vertical-text {
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
main .vertical-text .top {
  width: 100%;
  height: auto;
}
main .vertical-text .top img {
  margin-top: 1rem;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .vertical-text .bottom {
  display: flex;
  gap: 2em;
}
main .vertical-text .bottom p {
  writing-mode: vertical-rl;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.7vh;
  word-spacing: 0.7vh;
}
main .vertical-text .bottom .text h1 {
  font-size: 3em;
  font-weight: 100;
}
main .vertical-text .bottom .text p {
  writing-mode: initial;
  line-height: 1.7;
  font-size: 1.3em;
  opacity: 0.5;
}

@media (min-width: 900px) {
  main {
    gap: 4rem;
    padding: 4rem;
  }
  main .image-text {
    gap: 4em;
    flex-direction: row-reverse;
  }
  main .image-text .text2 h2 {
    font-size: 3.5em;
    margin-top: 2rem;
    line-height: 1.1;
  }
  main .image-text .text2 .services {
    margin-top: auto;
  }
  main .image-text .text2 .services .service {
    font-size: 0.5em;
  }
  main .vertical-text {
    margin-top: 2rem;
    gap: 4em;
    flex-direction: row;
  }
  main .vertical-text .top {
    width: 35%;
  }
  main .vertical-text .bottom {
    display: flex;
    width: 65%;
    width: 70%;
    margin-top: 3rem;
    flex-direction: row-reverse;
  }
  main .vertical-text .bottom .text {
    display: flex;
    flex-direction: column;
  }
  main .vertical-text .bottom .text h1 {
    font-size: 4.5vw;
  }
  main .vertical-text .bottom .text p {
    margin-top: auto;
    font-size: 2vh;
    width: 53%;
  }
}/*# sourceMappingURL=style.css.map */